html, body {
  background-color: $white;
  color: $black;
  font-family: $serif;
  font-size: 18px;
  font-weight: $regular;
  height: 100%;
  line-height: 1.61803399;
  position: relative;

  ::selection {
    // hack to fix opacity in selection.
    background-color: rgba($orange, 0.99);
    color: $white;
  }
}

a {
  color: $blue;
  border-bottom: 1px dashed $blue;
  text-decoration: none;

  &:hover, &:visited {
    color: $blue;
    border-bottom: 1px solid $blue;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
}

.clearfix {
  @include clearfix;
}
