// Font weights
$ultra-bold: 900;
$bold: 700;
$regular: 400;

$sans: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Lora', Georgia, serif;

h1, %h1 {
  font-family: $serif;
  font-size: 3.5rem;
  font-weight: $regular;
  margin: 0.5rem 0 2rem;

  &.display {
    line-height: 1.4;
    margin: 0;
  }
}

h2, %h2 {
  font-family: $serif;
  font-size: 1.75rem;
  font-weight: $regular;
  margin: 3rem 0 1rem;

  &.display {
    line-height: 1.4;
    margin: 0 0 2rem;
  }
}

h3, %h3 {
  font-family: $serif;
  font-size: 1.5rem;
  font-weight: $bold;
}

h4, %h4 {
  font-family: $sans;
  font-size: 1rem;
  font-weight: $bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5, %h5 {
  font-family: $serif;
  font-size: 0.75rem;
}

p, .p {
  font-family: $serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

strong {
  font-weight: $bold;
}

@media screen and (max-width: $phone-landscape-max) {
  h1, %h1 {
    font-size: 1.75rem;
  }

  h4, %h4 {
    font-size: 1.5rem;
  }
}
