{{#extend "base"}}
{{#content "main" mode="prepend"}}
<section class="hero">
    <ul class="deep-background-layer">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <ul class="middle-background-layer">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <ul class="close-background-layer">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <header>
        <div class="content">
            <h1 class="display">Connecting the Dots</h1>
            <h2 class="display">Turning Chronic Absenteeism into Data <br> in New York City Public Schools</h2>
        </div>
    </header>
</section>
<section>
    <div class="content">
        <p>Attendance is at the heart of America’s education system. Attendance has historically been measured by looking at excused and unexcused absences.  Today, a larger focus is placed on looking at chronic absenteeism, which includes excused and unexcused absences, focusing on why students are missing numerous days of school. Chronic absenteeism is defined as missing 10% of school or more, which is about a month of school throughout the academic year.</p>
        <p>A 2010 report revealed that 200,000 students, or 1 in 5 students, are chronically absent in NYC Public Schools. A subset of students that are chronically absent end up in the delinquency system and some don’t complete high school.</p>
        <h2>Examining the Data</h2>
        <p>Ana Bermúdez is the Commissioner of the New York City Department of Probation, and worked at various non-profit organizations, where she was the co-director of a school for young people involved in the justice system, Community Prep High School.</p>
        <p>Bermúdez explained that absenteeism is a significant factor to consider. “I think it [chronic absenteeism] is an incredibly strong, predictive factor and its a major contributing factor to kids being ensnared in the delinquency system, so it’s a big deal,” Bermúdez said. </p>
        <blockquote>
            <h3>“I think [chronic absenteeism] is an incredibly strong, predictive factor and its a major contributing factor to kids being ensnared in the delinquency system.” &mdash; Ana Bermúdez, NYC DOP</h3>
        </blockquote>
        <p>Wayne Wiener, a physical education teacher at Manhattan Early College for Advertising, has worked at MECA since September of this year, but has been working for the New York City Board of Education since September of 1996. Wayne Wiener described the mentality he has observed among students. ‘I think a lot of them, especially at the older age, 17 or 18, a lot of them that don’t show up it’s because they  really lost interest in school and they realize ‘I don’t have enough credit to graduate anyway,’ so they feel like ‘I might as well drop out and get my GED somewhere down the line’ or not get it at all and find a job at minimum wage and go from there,” said Wiener. </p>
        <p>Bermúdez has found that if a student has 10 credits or less when they reach the age of 16 or 17 there is a small likelihood that they will graduate or even get their GED. Bermúdez has over 600 students in that position under her care, “that’s crazy, so they’re destined to a life of poverty, to a life of not finding good jobs, if they even work, and of feeling like people have let them down, it’s just a spiral of stuff.” said Ana Bermudez. </p>
        <p>Bermúdez emphasized that while some students get a spark to change their path, there is more to be done. “We have to have other pathways also for their success. We can’t just say ‘Not much we can do about that now, because you got yourself in this position.’” Bermúdez said.  “We all played a role in them being in that position, they’re children.”</p>
    </div>
</section>
<section>
    <div class="content">
        <h2>Examining the Data</h2>
        <p>Ana Bermúdez is the Commissioner of the New York City Department of Probation, and worked at various non-profit organizations, where she was the co-director of a school for young people involved in the justice system, Community Prep High School.</p>
        <aside class="left">
            <img src="/img/nyc-public-school.jpg">
            <p>Source: <a href="http://nyulocal.com/city/2016/03/04/nyc-public-schools-are-still-segregated/">NYC Local</a></p>
        </aside>
        <p>Bermúdez explained that absenteeism is a significant factor to consider. “I think it [chronic absenteeism] is an incredibly strong, predictive factor and its a major contributing factor to kids being ensnared in the delinquency system, so it’s a big deal,” Bermúdez said. </p>
        <p>Wayne Wiener, a physical education teacher at Manhattan Early College for Advertising, has worked at MECA since September of this year, but has been working for the New York City Board of Education since September of 1996. Wayne Wiener described the mentality he has observed among students. ‘I think a lot of them, especially at the older age, 17 or 18, a lot of them that don’t show up it’s because they  really lost interest in school and they realize ‘I don’t have enough credit to graduate anyway,’ so they feel like ‘I might as well drop out and get my GED somewhere down the line’ or not get it at all and find a job at minimum wage and go from there,” said Wiener. </p>
        <blockquote class="right">
            <h3>They realize ‘I don’t have enough credit to graduate anyway,’ so they feel like ‘I might as well drop out and get my GED somewhere down the line.’</h3>
        </blockquote>
        <p>Bermúdez has found that if a student has 10 credits or less when they reach the age of 16 or 17 there is a small likelihood that they will graduate or even get their GED. Bermúdez has over 600 students in that position under her care, “that’s crazy, so they’re destined to a life of poverty, to a life of not finding good jobs, if they even work, and of feeling like people have let them down, it’s just a spiral of stuff.” said Ana Bermudez. </p>
        <p>Bermúdez emphasized that while some students get a spark to change their path, there is more to be done. “We have to have other pathways also for their success. We can’t just say ‘Not much we can do about that now, because you got yourself in this position.’” Bermúdez said.  “We all played a role in them being in that position, they’re children.”</p>
    </section>
</div>
<script type="text/javascript" src="/js/dots.js"></script>
{{/content}}
{{/extend}}
