{{#extend "base"}}
{{#content "main" mode="prepend"}}
<section class="hero">
    <ul class="deep-background-layer">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <ul class="middle-background-layer">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <ul class="close-background-layer">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <header>
        <div class="content">
            <h1 class="display">Connecting the Dots</h1>
            <h2 class="display">Chronic Absenteeism under the Data Looking Glass</h2>
        </div>
    </header>
</section>
<section>
    <div class="content">
        <p><a href="http://new.every1graduates.org/wp-content/uploads/2012/05/FINALChronicAbsenteeismReport_May16.pdf">200,000 students</a>, approximately one in five students in New York City public schools, were chronically absent in 2010.  To be considered &ldquo;<a href="http://www.attendanceworks.org/chronic-absence-vs-chronic-truancy/">chronically absent</a>,&rdquo; a student has to miss ten percent of the school year, which is equivalent to about a month of school days.</p>
        <p>A student that misses class repeatedly suffers academically. North Hunderdon High School Principal Phillip Sorg describes the impact of absences, &ldquo;If you’re not in school, you’re not getting an education, so it’s a big problem.&rdquo;</p>
        <p>Repeated school absences create a cycle. Once a student has missed a number of classes, they miss a significant portion of the material, creating obstacles for students to re-enter the school system after being chronically absent.</p>
        <p>Chronic absenteeism impacts the future of students’ long term performance. <a href="http://www.nyc.gov/html/truancy/downloads/pdf/task_force_fact_sheet.pdf">According to the Department of Education</a>, once a child has reached their first year of high school, the student’s attendance is more indicative of their likelihood to dropout than their test scores. Three out of every four students who are chronically absent in the 6th grade go on to drop out before finishing high school. </p>
        <p>Moreover, absenteeism affects the city and nation at large, <a href="https://www.nycourts.gov/ip/justiceforchildren/PDF/NYC-School-JusticeTaskForceReportAndRecommendations.pdf">79% of juvenile delinquents</a> are chronically absent. And on average, <a href="http://www.americaspromise.org/news/findings-indicate-high-school-dropout-rate-impacts-us-economy">$260,000 is lost on each high school dropout</a> through lost taxes, social programs, and crime-related costs over his or her lifetime.</p>
        <p>Attendance is at the heart of America’s education system. Students need to be in school to learn, to graduate, and to be productive members of society. Teachers, principals and administrators across the board agree that being physically present in the classroom is one of the most important factors in ensuring a child’s success, both socially and academically. So with this understanding in place, why are so many students missing school?</p>
    </div>
</section>
<section>
    <div class="content">
        <h2>Examining the Issue</h2>

        <p>Ana Bermúdez is the Commissioner of the New York City Department of Probation. She has worked at various non-profit organizations, and was the co-director of Community Prep High School, a school for young people involved in the justice system.</p>
        <p>Bermúdez highlights the detrimental impact of chronic absenteeism. &ldquo;I think [chronic absenteeism] is an incredibly strong, predictive factor and it’s a major contributing factor to kids being ensnared in the delinquency system, so it’s a big deal,&rdquo; Bermúdez said.</p>
        <blockquote class="left">
            <h3> &ldquo;I think [chronic absenteeism] is an incredibly strong, predictive factor and it’s a major contributing factor to kids being ensnared in the delinquency system.&rdquo; <cite>&mdash; Ana Bermúdez, Commissioner, NYC DOP</cite></h3>
        </blockquote>
        <p><a href="http://schools.nyc.gov/RulesPolicies/GraduationRequirements/default.htm">Bermúdez has found</a> that if a student has 10 credits or less, out of the 44 total required to graduate, when they reach the age of 16 or 17 there is only a small likelihood that they will graduate or ever obtain a GED. Bermúdez has over 600 students in that position under her care.</p>
        <p>&ldquo;That’s crazy. So they’re destined to a life of poverty, to a life of not finding good jobs, if they even work, and of feeling like people have let them down, it’s just a spiral,&rdquo; Bermúdez said.</p>
        <p>Over the past five years, research has been done to increase a data-drive approach to understand why students are chronically absent and the impact of these absences.</p>
        <p>Michael A. Gottfried, who is an Associate Professor at the Gevirtz Graduate School of Education and was a member of the 2014-15 Emerging Education Policy Scholars Cohort, conducted a study entitled &ldquo;<a href="http://dx.doi.org/10.1080/10824669.2014.962696">Chronic Absenteeism and Its Effects on Students’ Academic and Socioemotional Outcomes</a>,&rdquo; in which he examined kindergarten attendance data from 2010-2011. Two main factors were examined: the achievement levels of the students based on math and reading test scores, and the socioemotional skills, tested with several different behavioral scales. Gottfried compared the skill levels and achievement scores with the students’ attendance rate.</p>
        <p>In the study, Gottfried found that &ldquo;the group faring the worst on both reading and math achievement was undoubtedly strong chronic absentees.&rdquo; With regards to socioemotional development, he discovered &ldquo;that of the four scales pertaining to social skills, chronic absenteeism negatively influences those that most directly reflect educational engagement.&rdquo;</p>
        <blockquote class="right">
            <h3>&ldquo;We are going to focus on truant children because keeping them in school is an investment in their health, future, success.&rdquo; <cite>&mdash; Mayor Bloomberg</cite></h3>
        </blockquote>
        <p>Studies like Gottfried’s are part of an increased focus in recent years to create infrastructure to help keep students in school through a combination of mentorship and data-driven tools. In 2010, former Mayor Michael Bloomberg launched the ‘Mayor’s Interagency Task Force on Truancy, Chronic Absenteeism and School Engagement’ to reduce the level of truancy in New York City Public Schools. Mayor Bloomberg explained the importance of addressing absenteeism. Mayor Bloomberg stated in a press release that &ldquo;chronic absenteeism leads to higher rates of delinquency … we are going to focus on truant children because keeping them in school is an investment in their health, future, success and everyone’s safety&rdquo;.</p>
        <p>The Task Force was the first of its kind, as it focused on a data-driven approach to combating chronic absenteeism. Mayor Bloomberg acknowledged the multidimensional nature of truancy by partnering with the Department of Education, the Department of Health and Mental Hygiene, the Department of Youth and Community Development and the Department of Homelessness.</p>
        <p>Mayor Bloomberg had ten key initiatives which defined his program; the most heralded being the Success Mentorship program, which pairs students with high absences with mentors that are focused on encouraging them to attend class. In an <a href="http://www.nyc.gov/html/truancy/downloads/pdf/nyc_success_mentor.pdf">overview of the Mentorship program</a>, 23% of students that were chronically absent that were given mentors exited chronic absenteeism (meaning their attendance rates returned to an acceptable range), compared to 18% of students without mentors.</p>
        <blockquote class="left no-decoration">
            <figure class="sixth-graders">
                <ul>
                    <li class="absent"></li>
                    <li class="absent"></li>
                    <li class="absent"></li>
                    <li></li>
                </ul>
            </figure>
            <p>Three out of every four students who are chronically absent in the 6th grade go on to drop out before finishing high school. (<a href="http://www.nyc.gov/html/truancy/downloads/pdf/task_force_fact_sheet.pdf">NYC DOE</a>)</p>
        </blockquote>
        <p>A combination of data-driven programs and mentorship tools were created to help combat chronic absenteeism. The initiatives included Wake Up! NYC, New Data and Early Warning Tools, Asthma-Friendly Schools Campaign, and Operation Strong Start. These initiatives in particular represented the city’s attempts to either learn absenteeism trends from recent data, as in the case of New Data and Early Warning tools, and demonstrated the city’s commitment to incorporating technology in their campaign to fight truancy, as in the case of Wake Up! NYC, which gave all registered students wake up calls from famous celebrities.</p>
        <p>The initiatives created by the task force saw success in the 100 schools that it was implemented in, out of the 1,700 schools in New York City. But the issue remains, with 19.4% of students still chronically absent in the city, and with the task force seemingly stagnating since its conception. Data on the program’s success since 2012 is not publicly available, and Yuridia Peña, Deputy Press secretary of New York City Department of Education did not comment on the Truancy Task Force and suggested looking into the School Revival Program.</p>
    </div>
</section>
<section>
    <div class="content">
        <h2>Looking at the Factors</h2>
        <p>Based on a number of interviews with government officials in schools and the Board of Education alike, it is clear that there are a wide variety of factors which may have influences on the level of chronic absenteeism in New York public schools. Some factors are easily quantifiable and are recorded in publicly available data, while others are more nuanced. Nevertheless, publicly available school attendance data serves as an initial metric to examine the issues at play.</p>
        <p>While the city has been taking measures to collect data on absenteeism, this data is not easily accessible. The only publicly available sources on attendance are the daily attendance numbers posted by each school. At 4:00 PM each day, schools in the New York City area publish the proportion of students who showed up to school. Not all schools report their data, and inconsistencies in school naming lead to confusing data sources, posing additional challenges for both outside observers as well as administrators charged with tracking and tackling absenteeism.</p>
        <p>There are other potential data sources to examine. A regression model looking at attendance history from the academic year of 2015-2016 that examined factors including socioeconomic status, school budgets, school locations, atmospheric air quality, and controls for time effects and seasonality, found that the issue of chronic absenteeism is more complicated than a result of any of these variables. The data suggests that public policies targeting these variables are unlikely to make drastic inroads in this pressing issue.</p>
        <blockquote class="no-decoration">
            <figure class="lost-cash">
                <ul>
                    <li class="explanation">
                        <p>On average, $260,000 is lost on each high school dropout through lost taxes, social programs, and crime-related costs over his or her lifetime. (<a href="http://www.americaspromise.org/news/findings-indicate-high-school-dropout-rate-impacts-us-economy">America's Promise</a>) Each circle represents $1,000 tax dollars.</p>
                    </li>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
            </figure>
        </blockquote>
        <p>When looking at the results of analysis done on this model, the first thing that stands out is that some measurable factors, such as socioeconomic status, have a statistically significant correlation with attendance levels, while others, such as air quality, do not.</p>
        <p>Socioeconomic status, measured by a combination of median income and the proportion of residents on some form of public assistance, has a strong positive correlation with attendance. This is perhaps unsurprising, as anecdotal evidence suggests that families which are financially insecure lean more heavily on their children for support. For example, an older sibling might take their younger sibling to a doctor’s appointment, which would result in the older sibling missing school. This effect persists beyond just location: while the measure of socioeconomic status used in the model is based off of the location of each school, the impact of socioeconomic status is significant even when the analysis is conducted in a location-independent fashion.</p>
        <p>On the other hand, it may seem that school budgets, either in total or per student, might have a measurable correlation to attendance. However, New York City uses a Fair Student Funding formula to distribute funding to schools based off of enrollment and demographics, so there does not appear to be a strongly correlation between school budgets and attendance. Though there are issues with the implementation of the Fair Student Funding system in practice – among other things, new schools are better funded than older schools – it appears that student funding is agnostic with respect to whether schools have students that are chronically absent.</p>
        <p>Similarly, atmospheric pollution was examined as an indicator for asthma, an illness which, <a href="http://www.cdc.gov/healthyschools/asthma/index.htm">according to the CDC</a>,  &ldquo;is one of the leading causes of school absenteeism&rdquo;.</p>
        <p>Air pollution is tracked in many metropolitan areas including New York, and is known to be a cause for increased reports of asthma. Jamaal Bowman, Principal of Casa Middle School in the South Bronx, noted that &ldquo;Asthma is a big deal for certain students in certain families&rdquo;, and that &ldquo;low income families have disproportionately high rates of asthma, especially right here in the south of the Bronx,&rdquo; Bowman said. Bowman noted that the presence of waste disposal sites in the community as a factor in increasing problems with asthma.</p>
        <div class="clearfix">
            <blockquote class="left no-after">
                <img src="/img/4pm-report.png" alt="NYC 4pm Report">
                <p>This map shows the percentage of students that attended school, as measured by the <a href="">NYC 4PM Report</a>. Bright green represents 100% attendence, and bright red represents below 70% attendance.</p>
            </blockquote>
            <blockquote class="right no-before">
                <img src="/img/income.png" alt="NYC 4pm Report">
                <p>This map shows the percentage of households on public assisentence in New York City. Bright green represents 0-10% of families on public assistance, and bright red represents 90-100% of families. (<a href="https://data.cityofnewyork.us/City-Government/Demographic-Statistics-By-Zip-Code/kku6-nxdu">NYC Open Data</a>)</p>
            </blockquote>
        </div>
        <p>Despite these claims, our examination of data did not show a significant correlation with attendance. As the air quality metrics are published infrequently, this does not imply that asthma is not related to chronic absenteeism; rather, that air quality is not a sufficient proxy for asthma.</p>
        <p>Of other demographic factors, the most significant is that co-ed schools with a larger proportion of female students tend to have higher attendance rates. On average, for every additional one percent increase in the number of females in a school, there is a 0.78% increase in attendance. In general, schools diverse in gender, race, ethnicity, and other demographic variables, face fewer problems with chronic absenteeism.</p>

        <blockquote class="right">
            <h3>Co-ed schools with a larger proportion of female students tend to have higher attendance rates.</h3>
        </blockquote>

        <p>But none of these factors are as indicative as the effect incurred by each specific school, with almost each individual institution in the city having its own distinct patterns of attendance. Schools which regularly have high attendance continue to do so; schools which do not have consistent problems with chronic absenteeism. In a sense, each school appears to have its own attendance culture, which has a significant effect, even after accounting for socioeconomic status and other demographic variables. </p>
        <p>The differences in absenteeism rates highlight the distinct approaches that individual schools take to tackle chronic absenteeism, as well as the variant support and involvement received from government departments over the past decade.</p>
        <p>Carl Friedman works in Attendance and Regulation for the Department of Education, where he has worked since 1981. He used to look for students with the poorest behavior and attendance, and would contact the student’s guidance counselor to check if they had reached out to the student. &ldquo;Very seldom did I find anybody able to keep up with the things that they were supposed to be doing,&rdquo; Friedman said.</p>
        <p>In contrast, principal Jamaal Bowman describes how his school has spearheaded a follow-up approach of tracking each individual child and noting changes in their attendance and behavior. With an attendance rate of 95%, which is in the top 25% of attendance rates in the Bronx, Bowman explained his approach to keeping students in class.</p>
        <p>"We have a restorative justice model in terms of how we hire and structure our school,&rdquo; Bowman said. &ldquo;We have two guidance counselors and one social worker, so whenever a student is chronically absent, we take it upon ourselves to contact the family and make home visits if we need to.&rdquo; </p>
        <p>Bowman explains that it’s important to understand the challenges that the family is facing to refer them to outside services for support.</p>
        <blockquote class="left">
            <h3>
                &ldquo;What I have found most effective is any program that tries to really break down and understand, without judgement, why it is that a kid is not going to school.&rdquo;
                <cite>&mdash; Commissioner Ana Bermúdez, NYC DOP</cite>
            </h3>
        </blockquote>
        <p>Commissioner Bermúdez emphasized the importances of a personalized approach to handling absenteeism. &ldquo;What I have found most effective is any program that tries to really break down and understand, without judgement, why it is that a kid is not going to school.&rdquo; Bermúdez said.</p>
        <p>According to Bowman, programs to monitor chronic absenteeism should not only track causes of absenteeism but should also provide resources to help students exit chronic absenteeism. In order for students to exit chronic absenteeism, it is important to have resources to help students catch up on missed class. Once a student has missed a class, without a system in place to catch them up on the material, they might fall behind in their courses. Bowman presents a flipped classroom model, where resources and material are made available online, as one way to keep students from falling behind in class. </p>
        <p>&ldquo;If you don’t implement a flipped classroom model, and students don’t have access to the content online- if you miss a math class once or twice a week- you are totally lost. And if they don’t do something to help you catch up, it impacts your grade in that class, and the standardized test that you do at the end of the year,&rdquo; Bowman said.</p>
        <blockquote class="no-decoration right">
            <figure class="juveniles">
                <ul>
                    <li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca s"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li class="ca"></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
                <div class="key">
                    <div>
                        <span>
                            <li class="ca s"></li> Severely chronically absent
                        </span>
                    </div>
                    <div>
                        <span>
                            <li class="ca"></li> Chronically absent
                        </span>
                    </div>
                    <div>
                        <span>
                            <li></li> Not chronically absent
                        </span>
                    </div>
                </div>
            </figure>
            <p>79% of juvenile delinquents are chronically absent, and of those, 50% are severely chronically absent, meaning that they missed 38 days or more of school. (<a href="https://www.nycourts.gov/ip/justiceforchildren/PDF/NYC-School-JusticeTaskForceReportAndRecommendations.pdf">NY Courts</a>)</p>
        </blockquote>
        <p>Bermúdez praises mentorship programs as another model to help support students struggling with absenteeism. &ldquo;I think that’s why the coaches and the mentors are important, because it almost doesn’t matter what the reason&rdquo; said Bermúdez. &ldquo;The whole engagement with one person who is your champion in the school and will not let you fail and will get you out of bed and ready to do all sorts of other stuff, then that’s a really important component.&rdquo;</p>
        <p>While mentorship programs, such as the one implemented by Mayor Bloomberg’s office in 2010, provide support for students outside of the classroom, issues of engagement within the class itself still pose a significant challenge, with lack of engagement noted among school administrators and faculty as a major contributing factor towards student absences. </p>
        <p><a href="http://www.gallup.com/services/189926/student-poll-2015-results.aspx?g_source=CATEGORY_EDUCATION&g_medium=topic&g_campaign=tiles">A recent Gallup Student Poll from 2015</a> found that &ldquo;High school students who are engaged and hopeful are about 1.6x more likely to report that they will be going to either a two-year or four-year college after high school, compared with actively disengaged and discouraged high school students.&rdquo; The study was completed by over 900,000 U.S public school students.</p>
        <p>Grace Suh, who is the Manager For Education initiatives with IBM explained why students are engaged at her school, P-Tech in Brooklyn. &ldquo;We’ve really created a culture of learning, and students really understand why they’re there and why it’s important to be there,&rdquo; Suh said. </p>
        <p>Suh further emphasized the importance of creating a sense of community at the school. &ldquo;They [students] know that if they go to school they have teachers and their school leaders who care about them and want them to succeed and that compels them to want to go to school,&rdquo; Suh said.  &ldquo;We’ve been focused from the very start to create a culture where it’s a second home for them - surrounded by adults who are about them and care about their trajectory.&rdquo; </p>
        <blockquote class="left">
            <h3>The importance of this individual culture speaks to the need for individualized data, for both schools and students, in tackling this issue.</h3>
        </blockquote>
        <p>The importance of this individual culture speaks to the need for individualized data, for both schools and students, in tackling this issue. Current sources of data can mask chronic absences by only looking at daily attendance, unable to track individual issues facing certain students or schools.</p>
        <p>Echoing the sentiment for richer, more individualized data, Bermúdez noted that one simple metric that could be further examined is the number of times a student has moved schools, &ldquo;One metric, actually, to anticipate this in middle school and high school is how many different schools have these kids been enrolled in over the course of their life, and the higher that number is, the worse off they are and the more disengaged they are and the more chronically absent they are,&rdquo; Bermúdez said. </p>
        <p>Stephanie Farrell, a Speech Therapist in New York City Public Schools in District 32, works with many students from different countries. Farrell started two months ago, working across three schools,  PS IS 384, IS 347, and IS 291. Farrell has two students, a brother and sister that are both marked as chronically absent. &ldquo;I have one kid who comes to Brooklyn from the Bronx, and it takes him almost 2 hours to get to school every day and his parents don’t like him to go alone,&rdquo; Farrell said. &ldquo;so if his sister doesn’t go to school then sometimes he might not go to school because they don’t want him to go alone.&rdquo; The brother and sister are in 6th and 7th grade, respectively.</p>
        <p>Farrell notes that the students have recently moved here from South America, &ldquo;I know that for my kids that were labeled as chronically absent, they had just come into the country too, so there are a lot of other things going on.&rdquo;</p>
        <p>Many other factors noted by Bermúdez may require sources of data that are not easily tracked, or for which the tools may not exist. With this in mind, Bermúdez again notes the importance of school culture, &ldquo;What are the rituals in the school for inclusion? How do they handle micro-interactions with kids that are ‘problematic’?,&rdquo; Bermúdez said. </p>
        <p>Bermúdez explains that it would be helpful to have more detailed and documented reports on the efforts made to recover children that have been chronically absent, and the percentage of students that were no longer chronically absent. Yet she acknowledges that currently there is no clear way to track these metrics, referring to the elusive interactions that are hard to measure between students and guidance counselors or other supportive faculty or mentors. </p>
        <p>Bermúdez notes a deficit in the current data, &ldquo;If they’re [the student] not there, they can’t achieve. That’s why it doesn’t tell you too much other than what are statistics about the chronically absent students,&rdquo; Bermúdez said.</p>
    </div>
</section>
<section>
    <div class="content">
        <h2>Future Steps</h2>
        <p>Combined with the evidence offered by school officials, it appears that the most effective ways to combat chronic absenteeism will need to be tailored to each specific school. Efforts like Mayor Bill de Blasio’s Truancy Task Force show that purely data-driven approaches have limited success, and that a human component is essential to creating any sort of meaningful change.</p>
        <blockquote>
            <h3>
                &ldquo;In this standardized world that we live in, we look at groups of children in a standardized way and we shouldn’t, we need to look at them as individuals, and what does this individual need holistically.&rdquo;
                <cite>&mdash; Jamaal Bowman, Principal, Casa Middle School</cite>
            </h3>
        </blockquote>
        <p>A continued combination of using data to track an individual student’s progress, alongside a comprehensive mentorship program that works alongside both the family and the school seems to be the only way to create a solution to the city’s chronic absenteeism problem. </p>
        <p>This may be a difficult process - infrastructure and staffing need to be put in place to create these solutions to meet the individual child’s need. But this problem is one that deserves to be solved - the future of New York City’s children is not one that should be neglected.</p>
        <p>Bermúdez emphasized the role of the city in creating this situation, and the responsibility it holds in finding potential solutions: &ldquo;We can’t just say ‘Not much we can do about that now, because you got yourself in this position.’&rdquo; Bermúdez said.  &ldquo;We all played a role in them being in that position, they’re children.&rdquo; </p>
        <p>A data-driven approach to keep children in school is not sufficient. Bowman emphasizes the importance of creating student centered approaches.</p>
        <p>&ldquo;In this standardized world that we live in, we look at groups of children in a standardized way and we shouldn’t, we need to look at them as individuals, and what does this individual need holistically,&rdquo; Bowman said.</p>
        <ul class="decoration">
            <li class="one"></li>
            <li class="two"></li>
            <li class="three"></li>
            <li class="end"><a href="https://github.com/schlosser/connecting-the-dots">View on GitHub</a></li>
        </ul>
    </div>
</section>
<script type="text/javascript" src="/js/dots.js"></script>
{{/content}}
{{/extend}}
